{# @copyright   Copyright (C) 2010-2024 Combodo SAS #}
{# @license     http://opensource.org/licenses/AGPL-3.0 #}
<div id="ibo-page-banner" data-role="ibo-page-banner">
		{{- render_block(aLayouts.oBanner, {aPage: aPage}) -}}
</div>